+font('hellios', 'hellios')
+font('Cabana', 'Cabana')

input[type="tel"]::-webkit-input-placeholder
  color: #fff
input[type="tel"]::-moz-placeholder
  color: #fff
input[type="tel"]:-moz-placeholder
  color: #fff
input[type="tel"]:-ms-input-placeholder
  color: #fff
input[type="checkbox"]:checked+label:before
  border-right-color: #fff
  border-bottom-color: #fff
body
  line-height: 1
  background-color: #000
  background-image: url('../img/background.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: 0 0
.out
  position: relative
  +r(1250px)
    background-position: 50% 50%
  +r(820px)
    height: 100%
  &--no-bg
    background-image: none
    +r(820px)
      background-color: #000

.popup
  position: fixed
  transform: translateY(-2000px)
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 3
  background-color: rgba(0, 0, 0, .9)
  transition: transform .2s linear
  &--show
    transform: translateY(0)
    transition: transform .2s linear
  &__form
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    & .title
      margin-bottom: 30px
      +r(768px)
        font-size: 50px
    +r(768px)
      left: 0
      right: 0
      padding: 0 30px
      transform: translate(0, -50%)
      width: 100%


.form
  max-width: 409px
  margin-left: auto
  margin-right: auto
  margin-bottom: 5.467197vh
  &__input
    padding: 25px 0
    max-width: 100%
    width: 100%
    display: block
    background-color: rgba(0, 0, 0, .8)
    border: 1px solid #fff
    border-radius: 3px
    text-align: center
    font-size: 3.976143vh
    &--error
      border-color: red
    &:focus
      border: 1px solid #fff
    &.hellios
      color: #fff
  &__btn
    display: block
    width: 100%
    padding-top: 20px
    padding-bottom: 15px
    background-color: #ffb200
    border-radius: 5px
    &:active
      background-color: #ffb200
    &:focus
      background-color: #ffb200
    +r(768px)
      padding-left: 70px
      padding-right: 70px
  &__accept
    margin-bottom: 2.982107vh
    & label
      font-size: 2.982107vh
      line-height: 1.2
      &:before
        top: 50%
        border-color: #fff
        transform: translateY(-50%)
  &__input-container
    margin-bottom: 3.081511vh
  &__descr
    margin-bottom: 2.485089vh
    font-size: 5.964215vh
    font-weight: 400
    text-align: center
    text-transform: uppercase
    line-height: 1

.container
  max-width: 1366px
  margin-left: auto
  margin-right: auto
  +r(820px)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    padding: 0 5%



.content
  //height: 100%

.title
  text-align: center
  font-size: 8.05169vh
  margin-bottom: -25px
  font-weight: 400
  +r(768px)
    font-size: 45px
.karton
  font-family: 'Cabana', sans-serif
  color: #fff
.hellios
  font-family: "hellios", sans-serif
  color: #eeb122
.subtitle
  margin-bottom: 30px
  font-size: 7.952286vh
  text-transform: lowercase
  font-weight: 400
  text-align: center
  +r(768px)
    font-size: 45px


.feature-list
  display: flex
  width: 100%
  max-width: 940px
  margin-left: auto
  margin-right: auto
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start
  +r(820px)
    flex-direction: column
    align-items: center
    justify-content: flex-start
    height: 100%
  &__item
    padding: 16px
    text-align: center
    width: 29.089027%
    background-color: rgba(0, 0, 0, .8)
    border: 1px solid #fff
    border-radius: 3px
    height: 21.471173vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    cursor: pointer
    +r(820px)
      width: 281px
      height: auto
      margin-bottom: 30px
      &:last-of-type
        margin-bottom: 0
  &__title
    font-size: 3.976143vh
    font-weight: 400
    line-height: 0.91
  &__txt
    position: relative
    margin-top: auto
    white-space: nowrap
    font-size: 3.578529vh
    font-weight: 400
    line-height: 1.36
    &:first-of-type
      &:after
        content: '|'
        margin-left: 15px
        margin-right: 10px
        color: #737373
        font-family: 'karton', sans-serif
        font-size: 3.578529vh
        font-weight: 400
        line-height: 1.36

